body{
    background-color: blue;
}

.btn-pressed {
  background-color: yellow;
}

/* .btn {
    margin:auto;
    display:block;
} */

/* .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
} */




      