body {
	background-color: gray;
}

.btn-pressed {
	background-color: yellow;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
    
	
}
.card-btn-contents {

  margin-left: 1px;
  margin-right: 1px;
}
.favorite-btn {
  min-width: 50%;
  height: 2rem;
  /* margin: 0.25rem; */
}

/* .button-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
} */
/* .modal-title-link {
	font-size: inherit;
} */
/* .recipe-summary.scrollable {
	max-height: 200px;
	overflow-y: auto;
} */
.button-row > *:first-child {
    margin-right: 0.2em;
}
.button-row {
	display: flex;
	flex-wrap: wrap;
    margin-bottom: 0
}

.button-row > * {
	flex: 1 1 46%;
	margin: 0.2em 0;
}


/* .btn {
    margin:auto;
    display:block;
} */

/* .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
} */

