{% extends 'base.html' %}

{% block title %}New Recipe{% endblock %}

{% block header %}
<h1>Add a New Recipe</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card mt-3">
            <div class="card-body">
                <form action="" method="post">
                    {{ form.csrf_token }}

                    {{ form.recipe.label }}
                    {{ form.recipe(class="form-control", placeholder="Enter Recipe here
                    ") }}

                    {{ form.submit(class="btn btn-primary w-100 mt-3") }}

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}