{% extends 'base.html' %}

{% block title %} Full Menu {% endblock %}

{% block header %}
{% if current_user.is_authenticated %}
<h1>Full Menu <h4>Total recipes: {{ recipes|length }}</h4></h1>
{% if recipes %}
{% endif %}
{% else %}
<h5>Please Sign Up or Log In to Create or Update Menus</h5>
{% endif %}
{% endblock %}

{% block content %}


<!-- Add this div to display the selected recipe -->
<div id="selected-recipe">
</div>

<div class="row d-flex justify-content-center">
    <div class="col-10 col-lg-12 ">
        <table
            class="table table-bordered table-striped bg-secondary-subtle mt-2">
            <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th class="sortable" data-column="title"
                        data-order="{{ 'asc' if sort_by == 'title' and order == 'desc' else 'desc' if sort_by == 'title' and order == 'asc' else 'asc' }}">
                        Title</th>
                    <th class="sortable" data-column="recipe_id"
                        data-order="{{ 'asc' if sort_by == 'recipe_id' and order == 'desc' else 'desc' if sort_by == 'recipe_id' and order == 'asc' else 'asc' }}">
                        Recipe ID</th>
                    <th class="sortable" data-column="date_created"
                        data-order="{{ 'asc' if sort_by == 'date_created' and order == 'desc' else 'desc' if sort_by == 'date_created' and order == 'asc' else 'asc' }}">
                        Date Added</th>
                    <th>Quick Look</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                {% if recipe.title is not none %}
                <tr>
                    <td>{{ loop.index }}</td> <!-- Add the counter value -->
                    <td><a href="{{ 'https://spoonacular.com/recipes/' + recipe.title.split(' ')|join('-') + '-' + recipe.id|string }}"
                            target="_blank">{{ recipe.title}}</a></td>
                    <td>
                        <a
                            href="{{ 'https://spoonacular.com/recipes/' + recipe.title.split(' ')|join('-') + '-' + recipe.id|string }}">{{
                            recipe.id }}</a>
                    </td>
                    <td>{{ recipe.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>
                        {% for user in recipe.latest_users %}
                        {{ user }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if recipe.user == current_user %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}"
                            class="btn btn-success">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}"
                            class="btn btn-danger">Delete</a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <form method="post"
                            action="{{ url_for('toggle_favorite') }}"
                            class="d-inline" id="favorite-form">

                            {{ form.csrf_token }}
                            <input type="hidden" name="recipe_id"
                                value="{{ recipe.id }}">
                            {% if current_user in recipe.favorited_by.all() %}
                            <input type="submit" value="Unfavorite"
                                class="btn btn-outline-danger"
                                onclick="updateTable({{ loop.index }});">
                            {% else %}
                            <input type="submit" value="Favorite"
                                class="btn btn-outline-success"
                                onclick="updateTable({{ loop.index }});">
                            {% endif %}
                            <!-- <input type="submit" value="Delete"
                                class="btn btn-outline-danger"
                                onclick="updateTable({{ loop.index }});">

                            {% endif %} -->
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function displayRecipe(recipeId, recipeTitle, recipeUrl) {
        let selectedRecipe = document.getElementById("selected-recipe");
        selectedRecipe.innerHTML = `
        <div class="card mb-3">
            <div class="card-header">
                <h3>${recipeTitle}</h3>
            </div>
            <div class="card-body">
                <a href="${recipeUrl}" target="_blank" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    `;
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tableHeaders = document.querySelectorAll("th.sortable");

        tableHeaders.forEach(header => {
            header.addEventListener("click", function () {
                const sort_by = header.getAttribute("data-column");
                const order = header.getAttribute("data-order");

                window.location = `{{ url_for("account") }}?sort_by=${sort_by}&order=${order}`;
            });

            header.style.cursor = "pointer";
        });
    });
</script>

<script>
    function updateTable(index) {
        // Get all rows in the table
        let tableRows = document.querySelectorAll("tbody tr");

        // Remove the selected row from the table
        tableRows[index - 1].remove();

        // Update the table counter for all remaining rows
        for (let i = index - 1; i < tableRows.length; i++) {
            tableRows[i].querySelector("td").innerText = i + 1;
        }
    }
</script>

{% endblock %}