{% extends 'base.html' %}

{% block title %}Db Search{% endblock %}

{% block header %}
{% if current_user.is_authenticated %}
<h3>Full Menu </h3>
{% if recipes %}
{% endif %}
{% else %}
<h5>Please Sign Up or Log In to Create or Update Menus</h5>
{% endif %}
{% endblock %}

{% block content %}
<style>

body {
background-color: black;
}
.btn {
    margin: auto;
    display: block;
}
    .btn-pressed {
  background-color: yellow;
}

.btn {
    margin:auto;
    display:block;
}
 .modal-body img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


</style>


<!-- Add this div to display the selected recipe -->
<div id="selected-recipe">
</div>

<div class="row d-flex justify-content-center">
    <div class="col-10 col-lg-9 ">
        <table
            class="table table-bordered table-striped bg-secondary-subtle mt-2">
            <thead>
                <tr class="text-center">
                    <!-- Attempt to make sortable table. Will continue attempt later. -->
                    <th>#</th> 
                    <th class="sortable" data-column="title">Title</th>
                    <th class="sortable" data-column="recipe_id">Recipe ID</th>
                    <th class="sortable" data-column="date_created">Date Added</th>
                    <th>Picture</th>
                    <th>Favorite</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                {% if recipe.title is not none %}
                <tr>
                    <td class="text-center">{{ loop.index }}</td> <!-- Add the counter value -->
                    <td><a href="{{ 'https://spoonacular.com/recipes/' + recipe.title.split(' ')|join('-') + '-' + recipe.id|string }}"
                            target="_blank">{{ recipe.title}}</a></td>
                    <td class="text-center">
                        <a
                            href="{{ 'https://spoonacular.com/recipes/' + recipe.title.split(' ')|join('-') + '-' + recipe.id|string }}">{{
                            recipe.id }}</a>
                    </td>
                    <td class="text-center">{{ recipe.date_created.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>
                        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#recipe-modal"
                            data-recipe-id="{{ recipe.id }}" data-image-url="{{ recipe.image }}" onclick="highlightButton(this);">
                            Quick Look
                        </button>
                    </td>
                    <td>
                        {% if recipe.user == current_user %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}"
                            class="btn btn-success">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}"
                            class="btn btn-danger">Delete</a>
                        {% endif %}
                        
                        {% if current_user.is_authenticated %}
                        <form method="post"
                            action="{{ url_for('toggle_favorite') }}"
                            class="d-inline" id="favorite-form">
                            {{ form.csrf_token }}
                            <input type="hidden" name="recipe_id"
                                value="{{ recipe.id }}">
                            {% if current_user in recipe.favorited_by %}
                            <input type="submit" value="Unfavorite"
                                class="btn btn-outline-danger"
                                onclick="updateTable({{ loop.index }});">
                            {% else %}
                            <input type="submit" value="Favorite"
                                class="btn btn-outline-success"
                                onclick="updateTable({{ loop.index }});">
                            {% endif %}
                            <!-- <input type="submit" value="Delete"
                                class="btn btn-outline-danger"
                                onclick="updateTable({{ loop.index }});">

                            {% endif %} -->
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal for displaying recipe images -->
<div class="modal fade" id="recipe-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <div class="col text-center text-primary-emphasis">
                <h5><a href="#" class="modal-title-link" id="modal-recipe-title" target="_blank"
                        rel="noopener noreferrer"></a></h5>
            </div>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" class="img-fluid" alt="Recipe Image">
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        // Get a reference to the modal and image elements
        const modal = $("#recipe-modal");
        const image = modal.find("img");

        // Update the image source and alt text when the modal is opened
         modal.on("show.bs.modal", function (event) {
            const button = $(event.relatedTarget);
            const recipeId = button.data("recipe-id");
            const recipeTitle = button.data("recipe-title");
            const imageUrl = button.data("image-url");
            const recipeSourceUrl = button.data("recipe-source-url");
            const recipeSummary = $("#recipe-summary");

            $("#recipe-link").attr("href", recipeSourceUrl);

            image.attr("src", imageUrl);
            image.attr("alt", "Recipe Image");

               // Set the recipe title and id in the modal

            const titleLink = $("#modal-recipe-title");
            $("#modal-recipe-title").text(recipeTitle + " " + recipeId);
            titleLink.attr("href", recipeSourceUrl);
        });
    });

      function highlightButton(button) {
            button.classList.add("btn-pressed");
        }

        $(function () {
            $('#recipe-modal').on('hidden.bs.modal', function () {
                const button = $('.btn-pressed');
                button.removeClass('btn-pressed');

                // Remove the highlight effect after 3 seconds
                setTimeout(function (btn) {
                    btn.removeClass('btn-pressed');
                }, 7000, button);
            });
        });
    </script>

{% endblock %}

{% block scripts %}
<script>
    function displayRecipe(recipeId, recipeTitle, recipeUrl) {
        let selectedRecipe = document.getElementById("selected-recipe");
        selectedRecipe.innerHTML = `
        <div class="card mb-3">
            <div class="card-header">
                <h3>${recipeTitle}</h3>
            </div>
            <div class="card-body">
                <a href="${recipeUrl}" target="_blank" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    `;
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tableHeaders = document.querySelectorAll("th.sortable");

        tableHeaders.forEach(header => {
            header.addEventListener("click", function () {
                const sort_by = header.getAttribute("data-column");
                const order = header.getAttribute("data-order");

                window.location = `{{ url_for("account") }}?sort_by=${sort_by}&order=${order}`;
            });

            header.style.cursor = "pointer";
        });
    });
</script>

<script>
    function updateTable(index) {
        // Get all rows in the table
        let tableRows = document.querySelectorAll("tbody tr");

        // Remove the selected row from the table
        tableRows[index - 1].remove();

        // Update the table counter for all remaining rows
        for (let i = index - 1; i < tableRows.length; i++) {
            tableRows[i].querySelector("td").innerText = i + 1;
        }
    }
</script>

{% endblock %}