{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
<h1>Pantry Plus2</h1>
{% if current_user.is_authenticated %}
<h6>Nice to see you again, {{ current_user.username.title() }}!</h6>
<div class="container" style="border-radius: 2;">
    <div class="col-col-3 -lg-3 ">
        <form action="{{ url_for('search') }}" method="GET">
            {{ form.csrf_token }}
            {{ form.search_term.label }} {{ form.search_term() }}
            {{ form.submit() }}
        </form>
    </div>
</div>

{% else %}
<h6>Please Sign Up or Log In to Create or Update Address Books</h6>
{% endif %}
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container" style="border-radius: 0">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
        {% for recipe in recipes %}
        {% if recipe %}
        <div class="col mb-0 mt-4">
            <div class="card h-100">
                <img src="{{ recipe.image }}" class="card-img-top"
                    alt="{{ recipe.title }}">
                <div class="card-body">
                    <h6 class="card-title">{{ recipe.title }} <small> ID: {{
                            recipe.id}}</small></h6>
                    <div class="d-flex gap-2">
                        <a href="{{ recipe.link }}" target="_blank"
                            class="btn btn-outline-primary btn-group-sm">View Recipe</a>
                        {% if current_user.is_authenticated %}
                        <form method="post" action="{{ url_for('favorite') }}"
                            class="d-flex">
                            {{ form.csrf_token }}
                            <input type="hidden" name="recipe_id"
                                value="{{ recipe.id }}">
                            {% if recipe.is_favorite %}
                            <input type="submit" value="Unfavorite"
                                class="btn btn-outline-danger btn-group-sm">
                            {% else %}
                            <input type="submit" value="Favorite"
                                class="btn btn-outline-success btn-group-sm">
                            {% endif %}
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% else %}
{% endif %}
{% endblock %}