{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
<h1>Pantry Plus2</h1>
{% if current_user.is_authenticated %}
<h5>Nice to see you again, {{ current_user.username.title() }}!</h5>
{% else %}
<h5>Please Sign Up or Log In to Create or Update Address Books</h5>
{% endif %}
{% endblock %}


{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>DummyDataStorage | "Homepage Recipe Items"</title>
  </head>
  <body>
    <div class="row row-cols-1 row-cols-md-3 mt-3">
        <div class="col mb-4">
            <div class="card h-100">
                <img src="https://spoonacular.com/recipeImages/640803-312x231.jpg"class="card-img-top" alt="Fried Chicken">
                <div class="card-body">
                    <h6 class="card-title">Crispy Buttermilk Fried Chicken</h6>
                    <div class="btn-group" role="group"
                        aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button"
                                class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item"
                                    href="https://spoonacular.com/recipes/Crispy-Buttermilk-Fried-Chicken-1">Spoonacular</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="https://spoonacular.com/recipes/Crispy-Buttermilk-Fried-Chicken-1">Spoonacular</a>
                        <a class="dropdown-item" href="#">Favorite</a>
                    </div>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropup
            </button>
            <div class="dropdown-menu">
                <!-- Dropdown menu links -->
            </div>
        </div>
                    
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="https://spoonacular.com/recipeImages/641717-312x231.jpg"class="card-img-top" alt="Duck Rumaki">
                <div class="card-body">
                    <h5 class="card-title">Duck Rumaki</h5>
                    <a href="https://spoonacular.com/recipes/Duck-Rumaki-641717" target="_blank"
                        rel="noopener noreferrer" class="btn btn-primary">View on Spoonacular</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="https://spoonacular.com/recipeImages/633314-312x231.jpg"class="card-img-top" alt="Bacon Ice Cream">
                <div class="card-body">
                    <h5 class="card-title">Bacon Ice Cream</h5>
                <a href="https://spoonacular.com/recipes/Bacon-Ice-Cream-633314" target="_blank"
                    rel="noopener noreferrer" class="btn btn-primary">View on Spoonacular</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="https://spoonacular.com/recipeImages/640803-312x231.jpg"class="card-img-top" alt="recipe.title">
                <div class="card-body">
                    <h5 class="card-title">Crispy Buttermilk Fried Chicken</h5>
                    <p class="card-text">This is a longer card with supporting text
                        below as a natural lead-in to additional content. This
                        content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="https://spoonacular.com/recipeImages/640803-312x231.jpg"class="card-img-top" alt="recipe.title">
                <div class="card-body">
                    <h5 class="card-title">Crispy Buttermilk Fried Chicken</h5>
                    <p class="card-text">This is a longer card with supporting text
                        below as a natural lead-in to additional content. This
                        content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="https://spoonacular.com/recipeImages/640803-312x231.jpg"class="card-img-top" alt="recipe.title">
                <div class="card-body">
                    <h5 class="card-title">Crispy Buttermilk Fried Chicken</h5>
                    <p class="card-text">This is a longer card with supporting text
                        below as a natural lead-in to additional content. This
                        content is a little bit longer.</p>
                </div>
            </div>
        </div>
        
        <div class="col mb-4">
            <div class="card h-100">
                <img src=""https://spoonacular.com/recipeImages/640803-312x231.jpg" class="card-img-top" alt="">">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text
                        below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text
                        below as a natural lead-in to additional content. This
                        content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3">
      <div class="card-header">Crispy Buttermilk Fried Chicken</div>
      <div class="row g-0">
        <div class="col-md-4">
          <img class="card-img-top" src="https://spoonacular.com/recipeImages/640803-312x231.jpg" alt="Crispy Buttermilk Fried Chicken">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-subtitle text"></h6>
            <p class="card-text"></p>
            <p class="card-text"><strong>Ingredients:</strong> </p>
            <a href="https://spoonacular.com/recipes/Crispy-Buttermilk-Fried-Chicken-1" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View on Spoonacular</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">Lemon and Garlic Slow Roasted Chicken</div>
      <div class="row g-0">
        <div class="col-md-4">
          <img class="card-img-top" src="https://spoonacular.com/recipeImages/649495-312x231.jpg" alt="Lemon and Garlic Slow Roasted Chicken">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-subtitle text"></h6>
            <p class="card-text"></p>
            <p class="card-text"><strong>Ingredients:</strong> </p>
            <a href="https://spoonacular.com/recipes/Lemon-and-Garlic-Slow-Roasted-Chicken-649495" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View on Spoonacular</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">Your Basic Low Carb Breakfast</div>
      <div class="row g-0">
        <div class="col-md-4">
          <img class="card-img-top" src="https://spoonacular.com/recipeImages/1747693-312x231.jpg" alt="Your Basic Low Carb Breakfast">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-subtitle text"></h6>
            <p class="card-text"></p>
            <p class="card-text"><strong>Ingredients:</strong> </p>
            <a href="https://spoonacular.com/recipes/Your-Basic-Low-Carb-Breakfast-1747693" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View on Spoonacular</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">Homemade Strawberry Shake</div>
      <div class="row g-0">
        <div class="col-md-4">
          <img class="card-img-top" src="https://spoonacular.com/recipeImages/715574-312x231"





<div class="row">
    <!-- Left 2/3 Column -->
    <div class="col-12 col-lg-14 order-1 order-lg-0">


        <div class="container mt-3">


          

        </div>
    </div>
</div>



            <div class="card mt-3">
                <div class="card-header">{recipe.title}</div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="card-img-top" src={image} alt={recipe.title} />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h6 class="card-subtitle text">{recipe.date_created}</h6>
                            <p class="card-text">{recipe.content}</p>
                            <p class="card-text">
                                <strong>Ingredients:</strong> {recipe.ingredients}
                            </p>
                            <a href={recipe.spoonacular_source_url} target="_blank"
                                rel="noopener noreferrer" class="btn btn-primary">
                                View on Spoonacular
                            </a>
                            {recipe.author && recipe.author.username === user.username ? (
                            <>
                                <Link to={`${recipe.id}`}
                                    class="btn btn-success w-100 mt-2">
                                Edit
                                </Link>
                            </>
                            ) : null}
                        </div>
                    </div>
                </div>
            </div>
            </>
            );
            }
<div class="row d-flex justify-content-center">
    <!-- Left 2/3 Column -->
    <div class="col-12 col-lg-8 order-1 order-lg-0">

        {% for recipe in recipes %}
        <div class="card mt-3">
            <div class="row g-0">
                <div class="col-md-4">
                </div>

                <div class="card-body">

                    <h5 class="card-title">{{ recipe.title }}</h5>

                    <p class="card-text">{{ recipe.title }}<br>
                        {{recipe.id }}<br>

                    <h6 class="card-subtitle text-muted">Date Added: {{
                        recipe.date_created}}</h6>

                    {% if recipe.user %}
                    {% if recipe.user == current_user %}
                    <small class="card-subtitle">By: You</small>
                    {% else %}
                    <small class="card-subtitle">By: {{
                        recipe.user.username.title() }}</small>
                    {% endif %}
                    {% else %}
                    <small class="card-subtitle">By: Unknown</small>
                    {% endif %}
                    <div class="card-footer bg-white-subtle">
                        {% if recipe.user == current_user %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}"
                            class="btn btn-success">Edit</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#deleterecipeModal-{{ recipe.id }}">
                            Delete
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleterecipeModal-{{ recipe.id }}"
            tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                            Delete {{ recipe.title, recipe.id }}?
                        </h1>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete {{ recipe.title,
                        recipe.date_created }}? This
                        action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}"
                            class="btn btn-danger">Delete Recipe</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>


</div>

{% endblock %}


