


















<div class="card mt-3">
    <div class="card-header">Your Basic Low Carb Breakfast</div>
    <div class="row g-0">
        <div class="col-md-4">
            <img class="card-img-top"
                src="https://spoonacular.com/recipeImages/1747693-312x231.jpg"
                alt="Your Basic Low Carb Breakfast">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h6 class="card-subtitle text"></h6>
                <p class="card-text"></p>
                <p class="card-text"><strong>Ingredients:</strong> </p>
                <a href="https://spoonacular.com/recipes/Your-Basic-Low-Carb-Breakfast-1747693"
                    target="_blank" rel="noopener noreferrer"
                    class="btn btn-primary">View on Spoonacular</a>
            </div>
        </div>
    </div>
</div>