* {
  border-radius: 0 !important;
}

.recipe-img {
    max-height: 100px; /* Adjust the height as needed */
    object-fit: cover; /* This makes sure the image maintains its aspect ratio while scaling */
}

